body {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    background-color: hsl(233, 47%, 7%);
}

.main-cardboard {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 100px;
    top: 90px;
    margin: 4rem 1rem;
    border-radius: 15px;
}

.card-image-colored {
    /* width: 1800px; */
    position: relative;
    /* border-radius: 10px 10px 0 0;
    background-color:hsl(277, 64%, 61%);
    background-image: url('img/image-header-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay; */
} 

.card-image-colored::before {
    position: absolute;
    float: right;
    /* width: 100%;
    height: 100%; */
    /* border-radius: 10px 10px 0 0;
    background-color:hsl(277, 64%, 61%);
    background-image: url(img/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay; */
}

 .card-image {
    display: block;
    max-width: 100%;
    height: auto;
    /* background-color: hsl(277, 64%, 61%);

    background-blend-mode: overlay;
    border-radius: 10px 10px 0 0; */
}


.class-section {
    background-color: hsl(244, 38%, 16%);
    max-width: 100%;
    height: auto;
 }
 
 .card-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 20px;
 }

 .special-title {
    color:  hsl(277, 64%, 61%);
}

.description-card {
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
    line-height: 1.6;
    width: 600px;
    padding: 1.8rem 0;
    font-size: 0.95rem;
}

.cards {
    display: flex;
    align-items: center;
    text-align: center;
    list-style-type: none;
  
}

.card-position {
    position: relative;
    top: 90px;
    color: hsla(0, 0%, 100%, 0.6);

}



.card-number {
    display: block;
    padding: 0.4rem ;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
}

.card-header {
    display: block;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media  (min-width: 1400px) {
    body {
        width: 1400px;
        min-height: 50px;
    }

    .main-cardboard {
        flex-direction: row-reverse;
        max-width: 1200px;
    }
    .card-image-colored:before {
        border-radius: 0 10px 0 10px;
    }

    .class-section {
        min-height: 90px;
    }

    .card-image {
        min-height: 90px;
        max-width: 600px;
         width: 600px;
        border-radius: 0 10px 10px 0;
    }

    .card-title {
        text-align: center;
    }

    .description-card {
        text-align: center;
        margin-right: 10%;
        margin-bottom: 1rem;
    }

    .cards {
        flex-direction: row;
        text-align: center;
    }

    .card-position {
        flex-grow: 1;
        padding: 0.9rem 0 0 0;
    }
}